<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="restaurant-generator.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Righteous&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="body">

      <div>
          <h1>Random Restaurant Generator</h1>
          <h2>- for those lazy, indecisive days -</h2>
      </div>

      <div class="dropdown">
        <label for="category">Categories</label><br>
          <select class="dropdown-category" #categories (change)="onSelected(categories.value)">
            <option id="default" default value="default">pick a category</option>
            <option value="dinky">Dinkytown restaurants</option>
            <option value="sv">Stadium Village restaurants</option>
            <option value="pizza">Pizza restaurants</option>
            <option value="chains">Chains</option>
            <option value="coffee/tea">Coffee and Tea</option>
            <option value="brekkie">Breakfast restaurants</option>
            <option value="pizzaMan">Charley's Favorite Restaurants</option>
          </select> 
      </div>

      <div class="response"><br>
        <button type="button" (click)="generateRand(selectedList)">click to generate</button>
      </div>
      <div class="restaurantBox">
      <p id="restaurant">{{randomrestaurant}}</p>
        <p>:)</p>
      </div>

  </div>

  </body>

</html>

<router-outlet></router-outlet>